[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=TuxR
Exec=/opt/tuxr/bin/tuxr
Icon=tuxr
GenericName=Remote for Linux set-top boxes
Comment=Remote for Linux set-top boxes
Categories=Network
