Source: tuxr
Section: user/network
Priority: optional
Maintainer: Stuart Howarth <showarth@marxoft.co.uk>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/marxoft/tuxr

Package: tuxr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Remote control for Linux-based set-top boxes (e.g. Dreambox).
 Features include:
 .
 * Create multiple remotes.
 * Full remote control with user-definable macro keys.
 * View bouquets/channels.
 * View bouquet/channel EPG.
 * View, create and edit programme timers.
 * View screenshot.
XSBC-Maemo-Display-Name: TuxR
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AEaAyMgX9XGmQAADopJREFUeNrlm31w1dWZxz/n/H73
 NeSFFwOEREoohYAmIGAFu7WwoHYWmZ1hq7NTnNkyWFFXneo/u45u2bVFO9tux2pN46rT1q67zErc
 mZZR1qprd0FeIsG4GALlNQkJkISEJDf35XfOs3/cm5tcCHKTXF+YPZlnQn7ce37P8z3P+Z7nec45
 8P+8qVx0IiIKCAL+1O8lQCVQCixKPa8Awll2GQEagThQD7QADUAdEE09jyql5HMFQESmAQuB+cDN
 QBUw+1MetKPAh8BO4GPggFKq/TMFQEQqgfuAm1IjG/icPDiW8pTdQLVSquFTfZuIlIlIrYjERMTK
 F6fZlE61IlKWc8OttQERWS8i/fLFb/0ist5aG8iV8SXW2pestWJTUH/hxVpJ6VwyLg6w1s4Afpti
 8qux1QN3aK1bRw1ACr3fXcXGDwdhjdb6dNYApObP88CGnAYdSuF5Hv39/UQiERKJBEopgsEgeXl5
 hMPhQbLNNQgvA/drrWPZArAeeCWXhosIe/fu5c0332T//v0cPHiQnp4eHMdh+vTpVFVVsXr1atas
 WUNhYeGnAcLdWuvfZEN6Zdba/hSR5ESi0ag89thjUlpaKsBlJRQKyapVq+Tw4cPJtS2HOqRsKssG
 gNpcvtjzPLnnnnsEEKVUVrJo0SI5ceJErgEQa23tlYyvtNbGcvVCEZHNmzePyvhUfC933nmnDAwM
 5BqAmLW28pMAqLbJlhPj3377bXEcJwOATwLj4s+9+OKLuZ4K1lpbPaLxxphpxph6Y4yMV6y1kkgk
 5NZbb00bpbXOmO8XGz5cBj87depUaW1tFRGRXOiVknpjzLRBu/UwDBamEpucsH5DQwMNDQ0opQa9
 i7Vr1xKNRnn22WfTLC8iFBcX895779Hc3MyMGTOw1qKU4syZM7z66qu5Xg0qUrYONS9hlDHmkVyh
 LCLyzDPPiM/nS49wSUmJtLS0iIhIPB6XtWvXilJKXNeVxx9/PB3Iv/HGGxnesHz5colGo2KtzaUX
 POIljBryACVBEblZRMiVNDU1kUgk0iDffvvtJBIJtmzZwp49e1ixYgWu6xIOh1m2bBnbardRXV3N
 TctuYu7cuenvHTt2jEOHDqVjiRzJzSgJArip9/hTxYyctN7eXpqbmzOeXX/99Tz11FO88MILLF26
 lLvuugu/P0AwFOLEiRP86Okf0dzSjKMd5s6bR1NTE0opzp8/z+7du6mqqsrlNKhK2TwwCEAQmJ2r
 2OvChQu0t2cWaaLRGE1NhwFobz/L2XOd+H0aRyna2tq50BtBRDjQ8BGhUGio4hGLceTIkSRf5K4O
 ODtlc88gAEtyGXp2d3fT0tIyjGcNse4j/MWflnHqcICvVWruvuEjbv37WSjtEpzwAbvnaE6cDnHn
 6hn88J92ZXz34MGDdHV1UVBQkJvCTpKolwDbXQArUolIzhA+f/48bW1tyRVACX+zvpy/uvEjCic4
 rPryQqYUOmh1jhkFYUBQdPHy35bjWc2k0H/w43scnrDFbH+/AxFoamrizNmzTMjPz1klWJJF2+06
 tRaVpn6PW8Ra/mfnznR35VOD/N2GMiaENMbANUVJMjNW4RnBM5AwilBQkR+yGHGYNc3l+9+Ziesk
 l9Dm5ma6z5/PiX4MenrKZp1yiUUin5CljEKMtfz+rbeGvKE3Qd+Apf1sH919cQSFVplJqNKgEcQq
 Trb1EI1Z2rviiIBSGs/z6OjszIl+MjjOqTqHm0LDnwsO0Fpz4tQpGhsb0wFRV1+C79cc58l7r6Xx
 SDvHE0I47JIX9ONzXYxYYjFD/0CcSDTO7NJCYibA068cIeGZdCC1+/33uf2227DW5oADBIXypwEQ
 kYqk/TKe8A+fz8evfv3r9PwXsbiuy7U33Y9vzmwWhLdyvu0QXT1Rzl/oIx63OI4m5FdMKXCZNLOY
 cPEi4tfcxTf/ch+7G5/A8zwAXnrpJWbNmsXGjRuJRqO5YIGKdEFkIBqV8ZJgKBjkH558kqe2bMlQ
 sLq6mk2bNmFFsJE2Yh3vkzizE6/3GHgDiAbtFuEWzcM/9Rv4Jy9B+/NRCmpqati0aVO6r7y8PLZs
 2cJDDz3EwDhAUKkBCwWDSf8aGIjKeKaA4zi8+uq/cN999xGLxdIx/rp163jttdcwxgy9WqWCTxvF
 mAgajXLDiPanUlKT0e+6deuora1NT4UJEybwy1/+ijVr1gzrd2z5SigUVHpwToznp7W1hZqamvTI
 iwg+n49HHnnk0hVYDIhBtB/XnYhyCxHcpOH2UoMeffRRfD5fOnnq7e3lF7+opqPj3Lj1HloFrB27
 iLBn717q6+szFF+8eDEVFRWXHyURLBbBXpZ7jDFUVFSwZMmSjOd7U++T1LI7VhkCYByJRSIe5/Xa
 WmKxWNpNAVavXk1RUdG4GbuoqIiVK1dmuG5PTw87duzAGjMu3YfHAWMSpTVtbW1s27YtQ2nXdZk3
 b14GIOOZqwsWLMDn82U8r6mpoaOzE5Qas/5pAKwxSbGjEGMIh8Ns3rwZYwxaD9VWSkpKqKyszElp
 W0S47rrrmD59egYo8Xicf37hBQKBwJh0t6mpqYcnCGKzF60djh87zuuvv37JZsbkyZMpLy/PGQBz
 5sxhypQpl/zfc889R++F3mTMMQrdh2ulU8kQYi1WshfX57J167/heV6Gq4sIwWCQcDicMwCCwSCB
 QCCjP6UUkUiE2tptOK47Kt2TtkomCdpREkg0GqWurm5EpfPy8nK+wRcMBkdcJXbt2pVcXUehux1G
 gsl02EpEbNbnd5IFy/YzNB0+/JkBMLhveHFrbDxEZ2cX4by8oUwvm21/JDJsFZBGIXsXQgknT53k
 fFfXZd32UzidMuJAtLe30dLaDKPQX7AI0jjkAcbGh6+N2XjAubPn6Ovru2xNMNftcn329fbSdrqN
 OXO+knWmqJRCiY0P4wBbb1NRXTbieR6n29rScf/FnQ8MDKT/nas2vMKcUWuMxeju7mY0+ic/a+uH
 p8MtYFMecGWlrTVc6Om+LOLd3d20trZSUlIy7umgtaa1tZXu7u4RAfU8j56ebozxsq4GJFN13TK0
 DFrbYG0SmWzEGIs3LMa/ePqcPHmSurq6nEWCdXV1nDx5csT3iQiJRCJr3ZMiiEhDGgBjbF3SMMEY
 e0UBRX5+ftrAiRMncsMNN+A4Dsn0eoAdO3YQj8fHDUA8HmfHjh3paTX4vsHQ2HVdCgoLESEr3Y1J
 DrTnmbrhcUDUWjma7RxSSjG/Yj5Tp06lrKyMf/zxT9i48Z6McHjr1q00NTXhOM6YPEEpheM4NDU1
 sXXr1oznGzZs4Ac/+CHTpk+nuLiYmTO/NLo4IGlrNM0Bxpg48KG1NqtjrsYYrq+s5Kmnn2bu3LmU
 lpbxwQcfkF9QQFdnZ7IW2NXFAw88wLM/+xnzR0hmsiG9ho8+4qG/fpCurq40iH6/n7KyMr69/m5u
 WraM062tVFRUXJYkL8MrH5I8b5xkvGNHjykL3xPkJ9ZmuxQm84HBnDwYCvHna+9g//79KK2TJXIR
 pk2fwZIblzO7fDZ5E/y4SjGSQygUYgUP6I/E+OORo9Tte5/2thaUGqzeW0pLS9n+xhuEQuHkcqZU
 Mi3O2niFQj2q4afls8vFBSifXS5H/nj0YxGJiZVAdlwKdhjzegmPTZvu57vf3ZgiKIeQX5gc6MGe
 eZcPT73N4eN9nOkxGLGXgCAC2lFMCjnMnRWiMD/AjPwo/V0OffEh0luxciUTiyYRiUTGuisUQ/Fx
 +ZeTO4Fu2q2tHADbaEUWjqU6HI1F+fo3VrC46iuUTejg27dN45vLi8mb6EDCA0eDdmhs6mXbu+d4
 /b1OGo724RnL3GvDrP3aZL61YgpLr58EjoDxwOeQiMA7+zr51/88w65DCR586Hv0R/oRGUt5XIGo
 RkQfGPGYXOOhpmpr5V4RO2rWEu0nT1oZaPo5U9wTFEzw0x8xeMYm54sISkHQ7xDwO7SeS/D8tnaa
 z0Z4/DszmVMawDPCQNTDCunvOFqRF3aIxw3HO8JMrHqQfn8l4sXGQKxatFY1FfPm3jciAAc/PlQp
 YvdZa/2jDFcI0k7BmZ/jS7SlIq0rVJK1Ip5QxI2lIKxJePYTp5tG4Tjg6Xx6i+8l4l+AWG+0QVVc
 Kb10wfx5DSMdkWHB/HkNVux2gdHl10oI9NWjB05zoT/OcO+8eK4rBSjBs+A4EHAsvQOJkSr3GX8p
 BdEEHDx8hILYPsT0j07HpE3bhxufwQFD9Tz/w7F47DaxEs6WCZQICf90wsFCTjcfRSvhmolh4gmh
 u2eASRPz0FpxrrMftBAOuJzr6mf2zOkEg36OnmjhmklhAn6XvkgCY4SigiCxhKGjq5+8kA+l4OTp
 bqrmzyGiijHWwWbJVQpQWiIBX+BhPhHqVPvgwIfrEXlFRrFbpJUi3x5B9/0vp4/V09/dQsCJEfIJ
 vf0DWBGKCvNBBxmweeRN/BITZywGHSTacYD2Ux9jYx0E/YK2cfoGovh9fgoLC4gaF6MmMbn0OkJT
 FnLBmYsnvqy28tRgUqbU3YsXVv0mKwDq9tcHEHneIhvEymhYBgcDNoYxcRxlcJTFdTXGWpJ3q1wM
 DkoHMPhT8zCB9aIgCRxtcVRySUwkDI52sTgILqIDWAY3SbIcfa3QqJdR6v4lNyzK7rB0cvOhrgT4
 nRW5qo/La6XqgTU33rgk++Pyg23Xvj0zsOq3Vuwi5CqzXIFWuh4tdyxf+tXRX5gYbDt37Smx2CcR
 NshVgoJCgeJljX7i5uVfPX3FneIrtT/s3BUQkW8hUiNCmC8sEAqliKDUvUqpf//6zctj2ZBk1u2d
 P/x3mYJngD8TER85unmai5qpUioBbBd4eOXX/6R5VGcFRtveeue/KpVS6YuTIvK5XJxUSsWARqXU
 bhGpXrXiloYxUMXY2+/ffS+rq7NjrQteppByydXZVStu+Wyvzo4AxOdyeXrViluutrXpi9f+D/CK
 KXQAJjyXAAAAAElFTkSuQmCC
